*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

body{
    background-color:beige;
    color:black;
}

/* HEADER */
header{
    display:grid;
    grid-template-columns:4fr 8fr;
}

.logo{
    margin-left:2em;
    font-family:fantasy;
    color:rgb(242,106,128);
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
    margin-top:1em;
}

nav a{
    text-decoration:none;
    color:black;
}

/* HOME */
#home{
    display:flex;
    align-items:center;
    height:90vh;
}

.left span{
    color:rgb(242,106,128);
    font-size:1.5em;
}

.tagline{
    color:gray;
    font-size:1.5em;
}

.me{
    width:90%;
    border-radius:5%;
    box-shadow:20px 20px 30px black;
    animation:me 4s infinite;
}

@keyframes me{
    0%{transform:scale(0.9)}
    50%{transform:scale(1.1)}
    100%{transform:scale(0.9)}
}

/* ABOUT */
#me{
    background:black;
    color:lightgray;
    margin:1em;
    padding:1em;
    border-radius:0.8em;
}

.card{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1em;
}

.content{
    border:1px solid gray;
    padding:1em;
    text-align:center;
    color:pink;
    transition:0.3s;
}

.content:hover{
    transform:scale(1.1);
}

/* PROJECTS */
.projects{
    display:flex;
    gap:2em;
    justify-content:center;
}

.cards{
    width:300px;
    background:white;
    padding:1em;
    border-radius:0.5em;
    box-shadow:5px 5px 10px black;
    transition:0.3s;
}

.cards:hover{
    transform:scale(1.1);
}

.flipkart{
    width:100%;
}

/* SKILLS */
.skill{
    display:flex;
    gap:2em;
    justify-content:center;
}

.skill ul{
    background:black;
    color:white;
    padding:1em;
    border-radius:0.6em;
}

/* CONTACT */
#contacts{
    background:pink;
    padding:2em;
    display:grid;
    grid-template-columns:2fr 1fr;
}

.icons a{
    font-size:1.5em;
    margin-right:1em;
    color:black;
}
