      *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-size:20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background-color:beige;
            color:black;
        }
        header{
            display:grid;
            grid-template-columns:4fr 8fr;
        }
        .name{
            margin-left:2.4em;
        }
        #home{
            height:100vh;
        }
        nav ul{
            display:flex;;
            gap:20px;
            margin-top:0.5em;
            list-style-type:none;
            font-size:12px;
            margin-left:38em;
        }
        .button{
            margin-left:12em;
            margin-top:1em;
        }
        li a{
            text-decoration:none;
            color:black;
            font-size:1.1em;
            margin-top:0.5em;
        }
        #home{
            display:flex;
            justify-content:center;
            align-items:center;
            height:90vh;
        }
        .left{
            flex-basis:50%;
        }
        .right{
            flex-basis:35%;
        }
        .me{
            width:90%;
            height:90%;
            border-radius:5%;
            margin-left:3em;
            box-shadow:20px 20px 30px black;
            animation-name: me;
            animation-duration: 4s;
            animation-iteration-count: infinite;  
            animation-timing-function: linear;
        }
         @keyframes me{
                0%{
                    transform:scale(0.9);
                }
                50%{
                    transform:scale(1.1);
                }
                100%{
                    transform:scale(0.9);
                }
         }
        .me:hover{
            transform:scale(1.1);
        }
        .logo{
            margin-left:2em;
        }
        #me{
           border:1px solid black;
           background-color:black;
           border-radius:0.8em;
           margin:0.5em;
           margin-top:1.2em;
           box-shadow:25px 25px 50px black;
        }
        .content:hover{
            transform:scale(1.1);
        }
        .card{
            padding:3.2em;
            border-radius:2.2em;
            color:gray;
            width:90vw; 
            display:grid;
            grid-template-columns:4fr 4fr 4fr;
            background-color:black;
            gap:3.2em;
            margin-left:2em;
        }
        .card p{
            border:1px solid gray;
            padding:1.8em;
            text-align:center;
            border-radius: 0.5em;
            color:pink;
            box-shadow:5px 5px 15px rgb(221, 152, 164);
            transition:0.3s linear;
        }
        .grid{
            display:grid;
            grid-template-columns:3fr 9fr;
        }
        .about{
            color:black;
            text-align:center;
            font-weight:bold;
            font-family:fantasy;
            font-size:3em;
            margin-top:1em;
        }
        .content span{
            font-size:1.3em;
        }
        .my{
            color:lightgray;
            margin:0.5em 0.5em;
            font-size:1.2em;
            text-align:justify;
            margin-top:1.3em;
        }
        .cards{
            border:1px solid gray;
            width:30em;
            height:40vh;
            border-radius:0.5em;
            text-align:center;
            padding:0.5em;
            background-color:white;
            color:black;
            box-shadow:5px 5px 10px black;
            transition:0.3s linear;
        }
        .cards:hover{
            transform:scale(1.1);
            transition:0.3s linear;
        }
        .flipkart{
            width:100%;
        }
        .p1{
            margin-top:0.7em;
            white-space: nowrap;
            font-weight:bold;
            font-size:1.4em;
        }
        #projects{
            height:100vh;
            margin-top:5em;
        }
        .projects{
            display:flex;
            gap:1.8em;
            margin:0.9em;
        }
        .card-2{
            margin-top:-100px;
        }
        .card-5{
            margin-top:80px;
        }
        .card-4{
            margin-top:-50px;
        }
        .card-6{
            margin-top:-50px;
        }
        .row2{
            margin-top:2em;
        }
        .project-heading{
            font-weight:bold;
            width:100vw;
            color:black;
            text-align:center;
            font-family:fantasy;
            font-size:3em;
        }
        .text{
            width:100vw;
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
        }
        .style1{
            text-shadow:5px 5px 10px black;
            animation-name:style1;
            animation-duration:2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes style1{
            0%{
                transform:translateX(-850px);
            }
            100%{
                transform:translateX(0px);
            }
        }
        @keyframes style2{
            0%{
                transform:translateX(850px);
            }
            100%{
                transform:translateX(10px);
            }
        }
        .style2{
            color:gray;
            text-shadow:5px 5px 10px black;
            animation-name:style2;
            animation-duration:2s;
            animation-iteration-count: infinite;
        }
        #contacts{
            height:28vh;
            width:100vw;
            background-color:pink;
            margin-top:1.5em;
            padding:1.5em;
            display:grid;
            grid-template-columns:8fr 4fr;
        }
        .icons{
            margin-left:1em;
            margin-top:1.2em;
            font-weight:bold;
        }
        .skill ul{
            border:1px solid black;
            border-radius:1em;
            padding:3em;
            box-shadow:5px 5px 10px rgb(161, 158, 158);
        }
        .skill{
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:1em;
            padding:0.6em;
            align-items:center;
            justify-content:center;
            display:flex;
            font-size:3em;
        }
        .skill h3{
            text-align:center;
            font-family:fantasy;
        }
        #skills h2{
            color:black;
            text-align:center;
            font-weight:bold;
            font-family:fantasy;
            font-size:3em;
        }
        #skills{
            height:80vh;
        }
        .technical li , .soft li{
            color:darkgrey;
            box-shadow:15px 15px 30px black;
            font-size:1.3em;
        }
        .technical:hover , .soft:hover{
            transform:scale(1.1);
            transition:0.5s linear;
            box-shadow:5px 5px 15px rgb(243, 121, 141);
        }
        .technical,.soft{
            transition:0.5s;
            background-color:black;
            color:white;
        }
        .email{
            margin-left:1.5em;
            margin-top:0.9em;
        }
        .logo{
            font-size:1.5em;
            margin-right:0.5em;
            border:2px solid black;
            padding:0.2em;
            background-color:black;
            border-radius:2em;
            color:pink
        }
        .myphoto{
            width:60%;
            height:70%;
            border-radius:90%;
            margin-top:2.5em;
            margin-left:4em;
            transition:1s;
        }
        .myphoto:hover{
            transform:scale(1.1);
            transition:0.4s linear;
            box-shadow:3px 3px 5px pink;
        }