      *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-size:20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background-color:beige;
            color:black;
        }
        header{
            display:grid;
            grid-template-columns:4fr 8fr;
        }
        nav ul{
            display:flex;;
            gap:20px;
            margin-top:0.5em;
            list-style-type:none;
            font-size:12px;
            margin-left:270px;
        }
        li a{
            text-decoration:none;
            color:black;
            font-size:15px;
        }
        #home{
            display:flex;
            justify-content:center;
            align-items:center;
            height:90vh;
        }
        .left{
            flex-basis:50%;
        }
        .right{
            flex-basis:35%;
        }
        .me{
            width:90%;
            height:90%;
            border-radius:5%;
            margin-left:3em;
            box-shadow:20px 20px 30px black;
            animation-name: me;
            animation-duration: 4s;
            animation-iteration-count: infinite;  
            animation-timing-function: linear;
        }
         @keyframes me{
                0%{
                    transform:scale(0.9);
                }
                50%{
                    transform:scale(1.1);
                }
                100%{
                    transform:scale(0.9);
                }
         }
        .me:hover{
            transform:scale(1.1);
        }
        .logo{
            margin-left:2em;
        }
        #me{
           border:1px solid black;
           background-color:black;
           border-radius:0.8em;
           margin:0.5em;
           box-shadow:20px 20px 40px black;
        }
        .content:hover{
            transform:scale(1.1);
        }
        .card{
            padding:0.6em;
            border-radius:0.9em;
            color:gray;
            width:90vw; 
            display:grid;
            grid-template-columns:4fr 4fr 4fr;
            background-color:black;
            gap:1.3em;
            margin-left:2em;
        }
        .card p{
            border:1px solid gray;
            padding:0.5em;
            text-align:center;
            border-radius: 0.5em;
            color:pink;
            box-shadow:5px 5px 15px rgb(221, 152, 164);
            transition:0.3s linear;
        }
        .about{
            color:black;
            text-align:center;
            font-weight:bold;
            font-family:fantasy;
        }
        .my{
            color:lightgray;
            margin:0.5em 0.5em;
            font-size:15px;
        }
        .cards{
            border:1px solid gray;
            width:30em;
            height:40vh;
            border-radius:0.5em;
            text-align:center;
            padding:0.5em;
            background-color:white;
            color:black;
            box-shadow:5px 5px 10px black;
            transition:0.3s linear;
        }
        .cards:hover{
            transform:scale(1.1);
            transition:0.3s linear;
        }
        .flipkart{
            width:100%;
        }
        .p1{
            margin-top:0.7em;
            white-space: nowrap;
            font-weight:bold;
        }
        #projects{
            height:120vh;
        }
        .projects{
            display:flex;
            gap:1.8em;
            margin:0.9em;
        }
        .card-2{
            margin-top:-80px;
        }
        .card-5{
            margin-top:80px;
        }
        .card-4{
            margin-top:-50px;
        }
        .card-6{
            margin-top:-50px;
        }
        .row2{
            margin-top:2em;
        }
        .project-heading{
            font-weight:bold;
            width:100vw;
            color:black;
            text-align:center;
            margin-bottom:0.8em;
            font-family:fantasy;
        }
        .text{
            width:100vw;
            height:110vh;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
        }
        .style1{
            text-shadow:5px 5px 10px black;
            animation-name:style1;
            animation-duration:2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes style1{
            0%{
                transform:translateX(-600px);
            }
            100%{
                transform:translateX(0px);
            }
        }
        @keyframes style2{
            0%{
                transform:translateX(600px);
            }
            100%{
                transform:translateX(10px);
            }
        }
        .style2{
            color:gray;
            text-shadow:5px 5px 10px black;
            animation-name:style2;
            animation-duration:2s;
            animation-iteration-count: infinite;
        }
        #contacts{
            height:50vh;
            width:100vw;
            background-color:pink;
            margin-top:1.5em;
            padding:1.5em;
            display:grid;
            grid-template-columns:8fr 4fr;
        }
        .icons a{
            color:black;
        }
        .icons{
            margin-left:-38px;
        }
        .skill ul{
            border:1px solid black;
            border-radius:0.6em;
            padding:1em;
            box-shadow:5px 5px 10px rgb(161, 158, 158);
        }
        .skill{
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:2em;
            padding:0.6em;
            height:60vh;
            align-items:center;
            justify-content:center;
            display:flex;
        }
        .skill h3{
            text-align:center;
            font-family:fantasy;
        }
        #skills h2{
            margin-top:3em;
            font-weight:bold;
            width:100vw;
            color:black;
            text-align:center;
            font-weight:bold;
            font-family:fantasy;
        }
        .technical li , .soft li{
            color:gray;
            box-shadow:15px 15px 30px black;
        }
        .technical:hover , .soft:hover{
            transform:scale(1.1);
            transition:0.5s linear;
            box-shadow:5px 5px 15px rgb(243, 121, 141);
        }
        .technical,.soft{
            transition:0.5s;
            background-color:black;
            color:white;
        }
        .email{
            margin-left:25px;
        }